{% load static from staticfiles %}
<html>
    <head>
        <title>Twitter Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
    <header class="">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="{% url 'post_list' %}"> <h2><i>Главная</i> </h2></a>
            <ul class="">
                 {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="highlight tweet"> Tweet</a>
                 <!--a href="{% url 'post_draft_list' %}" class="highlight">Draft</a-->

{#                        <a href="{% url 'articles:create' %}" class="highlight">Twit</a></li>#}
                 {% endif %}
            </ul>

            <ul class="">
                 {% if user.is_authenticated %}
                <li class="d-flex align-items-center">
                        <form class="mb-0" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="highlight" type="submit">Logout</button>
                        </form>
                        <p class="mb-0">user: {{ user.username }}</p>
                </li>
                {% else %}
                    <li><a class="highlight" href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a class="highlight" href="{% url 'accounts:signup' %}">Signup</a></li>

                    {% endif %}
            </ul>
            </nav>
        </div>
    </header>
        <div class="content container mt-5">
            <div class="row">
                <div class="col-md-3 pl-5">
                <div class="about d-flex justify-content-center align-items-center flex-column">
                      {% if user.is_authenticated %}
                         <a href="{% url 'post_my_list' %}" class="highlight highlight-1">
                             My Posts
                         </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9 twit">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>